USE [AirbnbDB]
GO
/****** Object:  Table [dbo].[calendar]    Script Date: 9/11/2026 7:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar](
	[listing_id] [int] NOT NULL,
	[date] [date] NULL,
	[available] [nvarchar](10) NULL,
	[price] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listings]    Script Date: 9/11/2026 7:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listings](
	[id] [int] NOT NULL,
	[listing_url] [nvarchar](50) NULL,
	[scrape_id] [datetime2](7) NULL,
	[last_scraped] [date] NULL,
	[name] [nvarchar](50) NULL,
	[summary] [nvarchar](max) NULL,
	[space] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[experiences_offered] [nvarchar](50) NULL,
	[neighborhood_overview] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[transit] [nvarchar](max) NULL,
	[thumbnail_url] [nvarchar](200) NULL,
	[medium_url] [nvarchar](100) NULL,
	[picture_url] [nvarchar](200) NULL,
	[xl_picture_url] [nvarchar](200) NULL,
	[host_id] [int] NULL,
	[host_url] [nvarchar](50) NULL,
	[host_name] [nvarchar](max) NULL,
	[host_since] [date] NULL,
	[host_location] [nvarchar](max) NULL,
	[host_about] [nvarchar](max) NULL,
	[host_response_time] [nvarchar](50) NULL,
	[host_response_rate] [nvarchar](50) NULL,
	[host_acceptance_rate] [nvarchar](50) NULL,
	[host_is_superhost] [bit] NULL,
	[host_thumbnail_url] [nvarchar](200) NULL,
	[host_picture_url] [nvarchar](200) NULL,
	[host_neighbourhood] [nvarchar](max) NULL,
	[host_listings_count] [int] NULL,
	[host_total_listings_count] [smallint] NULL,
	[host_verifications] [nvarchar](max) NULL,
	[host_has_profile_pic] [nvarchar](50) NULL,
	[host_identity_verified] [bit] NULL,
	[street] [nvarchar](100) NULL,
	[neighbourhood] [nvarchar](50) NULL,
	[neighbourhood_cleansed] [nvarchar](50) NULL,
	[neighbourhood_group_cleansed] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[zipcode] [int] NULL,
	[market] [nvarchar](50) NULL,
	[smart_location] [nvarchar](50) NULL,
	[country_code] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[is_location_exact] [bit] NULL,
	[property_type] [nvarchar](50) NULL,
	[room_type] [nvarchar](50) NULL,
	[accommodates] [tinyint] NULL,
	[bathrooms] [float] NULL,
	[bedrooms] [tinyint] NULL,
	[beds] [tinyint] NULL,
	[bed_type] [nvarchar](50) NULL,
	[amenities] [nvarchar](max) NULL,
	[square_feet] [smallint] NULL,
	[price] [money] NULL,
	[weekly_price] [money] NULL,
	[monthly_price] [money] NULL,
	[security_deposit] [money] NULL,
	[cleaning_fee] [money] NULL,
	[guests_included] [tinyint] NULL,
	[extra_people] [money] NULL,
	[minimum_nights] [int] NULL,
	[maximum_nights] [int] NULL,
	[calendar_updated] [nvarchar](50) NULL,
	[has_availability] [nvarchar](50) NULL,
	[availability_30] [tinyint] NULL,
	[availability_60] [tinyint] NULL,
	[availability_90] [tinyint] NULL,
	[availability_365] [int] NULL,
	[calendar_last_scraped] [date] NULL,
	[number_of_reviews] [int] NULL,
	[first_review] [date] NULL,
	[last_review] [date] NULL,
	[review_scores_rating] [tinyint] NULL,
	[review_scores_accuracy] [tinyint] NULL,
	[review_scores_cleanliness] [tinyint] NULL,
	[review_scores_checkin] [tinyint] NULL,
	[review_scores_communication] [tinyint] NULL,
	[review_scores_location] [tinyint] NULL,
	[review_scores_value] [tinyint] NULL,
	[requires_license] [nvarchar](50) NULL,
	[license] [nvarchar](1) NULL,
	[jurisdiction_names] [nvarchar](50) NULL,
	[instant_bookable] [bit] NULL,
	[cancellation_policy] [nvarchar](50) NULL,
	[require_guest_profile_picture] [bit] NULL,
	[require_guest_phone_verification] [bit] NULL,
	[calculated_host_listings_count] [tinyint] NULL,
	[reviews_per_month] [float] NULL,
 CONSTRAINT [PK_listings_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 9/11/2026 7:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[listing_id] [int] NOT NULL,
	[id] [bigint] NOT NULL,
	[date] [date] NULL,
	[reviewer_id] [bigint] NULL,
	[reviewer_name] [nvarchar](50) NULL,
	[comments] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[calendar]  WITH CHECK ADD  CONSTRAINT [FK_calendar_listings] FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([id])
GO
ALTER TABLE [dbo].[calendar] CHECK CONSTRAINT [FK_calendar_listings]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_listings] FOREIGN KEY([listing_id])
REFERENCES [dbo].[listings] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_listings]
GO
